
body{
	background-color: #eee;
}
.im1  {
	
margin: 5% auto;
padding:5%;
text-align: center;
}
h1{

	font-family: Tahoma ;
}

p
{
		font-family: Times new roman ;
		font-size: 40px;
}

.images img
{  
	display: inline-block;
 margin:5px 45px;
	perspective:600px;
	transition: all 0.5s ease-in-out;
}
 .images img:hover{
	transform:translate3d(10px,10px,-300px);
}
.text
{
	color: red;
	text-decoration: none;
}
